@model MvcTicariOtomasyon.Models.Siniflar.Urun
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
<div>
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.Ad)
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })

    @Html.LabelFor(x => x.Marka, new { @class = "mt-2" })
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })

    @Html.LabelFor(x => x.Stok, new { @class = "mt-2" })
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })

    @Html.LabelFor(x => x.AlisFiyat, new { @class = "mt-2" })
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })

    @Html.LabelFor(x => x.SatisFiyat, new { @class = "mt-2" })
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })

    @Html.LabelFor(x => x.Kategori, new { @class = "mt-2" })
    @Html.DropDownListFor(x => x.KategoriID, (List<SelectListItem>)ViewBag.ktg, new { @class = "form-select" })

    @Html.LabelFor(x => x.Fotograf, new { @class = "mt-2" })
    @Html.TextBoxFor(x => x.Fotograf, new { @class = "form-control" })

    @Html.LabelFor(x => x.Durum, new { @class = "mt-2" })
    @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
    <button class="btn btn-success mt-2">Güncelle</button>
</div>
}

