@using MvcTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table id="table" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Cari</th>
            <th>Personel</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    @foreach (var satis in Model)
    {
        <tr>
            <td>@satis.Id</td>
            <td>@satis.Urun.Marka - @satis.Urun.Ad</td>
            <td>@satis.Cari.Ad @satis.Cari.Soyad</td>
            <td>@satis.Personel.Ad @satis.Personel.Soyad</td>
            <td>@satis.Adet</td>
            <td>@satis.Fiyat</td>
            <td>@satis.Tutar</td>
            <td>@satis.Tarih</td>
            <td>
                <a href="/Satis/Guncelle/@satis.Id" class="btn btn-warning">Güncelle</a>
                <a href="/Satis/Detay/@satis.Id" class="btn btn-secondary">Detay</a>
            </td>
        </tr>
    }
</table>

<a href="/Satis/Yap" class="btn btn-success">Satış Yap</a>
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $('#table').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });
</script>









