@using MvcTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>

@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="text-center bg-warning p-2 rounded-1 mt-2">Personel Satış Detayları</h4>

<ol class="breadcrumb bg-danger rounded-2 p-2">
    <li class="breadcrumb-item">Personel Adı : @ViewBag.Personel</li>
</ol>
<table class="table table-bordered mt-2">
    <tr>
        <th>Ürün</th>
        <th>Müşteri</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var satish in Model)
    {
        <tr>
            <td>@satish.Urun.Ad</td>
            <td>@satish.Cari.Ad @satish.Cari.Soyad</td>
            <td>@satish.Fiyat₺</td>
            <td>@satish.Adet</td>
            <td>@satish.Tutar</td>
            <td>@satish.Tarih</td>
            <td><a href="#" class="btn btn-success">Yazdır</a></td>
        </tr>
    }
</table>
